!!!5
html
  head
    script(src='../lib/jquery-1.7.1.min.js')
    script(src='../lib/underscore.js')
    script(src='background.js')
    script#chunk(type='text/template')
      li.chunk
        a(href='{{url}}',target='_blank')
          div.box
            div.left
              div.user-icon
                img.icon-m(src='{{user.profile_image_url}}', alt='{{user.display_name}}')
            div.right
              div.content
                div.tags
                  {% for (var i = 0; i < tags.length; i++) { %} {% var tag = tags[i] %} <img class='icon-s' src='http://qiita.com{{tag.iconUrl}}'/> {{tag.name}} {% } %}
                div.title {{title}}
              div.status
                span.no-padding {{created_at}}
    script#notification(type='text/template')
      li.notification(class='{% if (!seen) { %}unread{% } %}')
        a(href='{{object}}',target='_blank')
          div.box
            div.left
              div.user-icon
                img.icon-m(src='{{image_url}}', alt='{{name}}')
            div.right
              div.content {{content}}
              div.status
                span(class='{{action}}') {{created_at}}
    script#follow_user(type='text/template')
      span.bold {{names}}
      span.bold followed
      span you.
    script#update_posted_chunk(type='text/template')
      span.bold {{names}}
      span added a comment to
      span.bold the item you added a comment
      span .
    script#increment(type='text/template')
      span.bold {{names}}
      span did
      span.bold ++
      span to your item.
    script#stock(type='text/template')
      span.bold {{names}}
      span.bold stocked
      span to your item.
    script#login-required(type='text/template')
      li.login-required Login Required
  body
