!!!5
html
  head
    script(src='../lib/jquery-1.7.1.min.js')
    script(src='../lib/underscore.js')
    script(src='qiita.js')
    script(src='background.js')
    script#login-required(type='text/template')
      li.login-required
        a(href='http://qiita.com/',target='_blank') {{content}}
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30142578-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = 'https://ssl.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
