!!!5
html
  head
    script(src='../lib/jquery-1.7.1.min.js')
    script(src='../lib/underscore.js')
    script(src='background.js')
    script#chunk(type='text/template')
      li.chunk(class='{% if (!seen) { %}unread{% } %}')
        a(href='{{url}}',target='_blank')
          div.box
            div.left
              div.user-icon
                img.icon-m(src='{{user.profile_image_url}}', alt='{{user.display_name}}')
            div.right
              div.content
                div.tags
                  {% for (var i = 0; i < tags.length; i++) { %} {% var tag = tags[i] %} <img class='icon-s' src='http://qiita.com{{tag.iconUrl}}'/> {{tag.name}} {% } %}
                div.title {{title}}
              div.status
                span.no-padding {{created_at}}
    script#notification(type='text/template')
      li.notification(class='{% if (!seen) { %}unread{% } %}')
        a(href='{{object}}',target='_blank')
          div.box
            div.left
              div.user-icon
                img.icon-m(src='{{image_url}}', alt='{{name}}')
            div.right
              div.content {{content}}
              div.status
                span(class='{{action}}') {{created_at}}
    script#login-required(type='text/template')
      li.login-required
        a(href='http://qiita.com/',target='_blank') {{content}}
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30142578-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = 'https://ssl.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
