!!!5
html
  head
    link(rel='stylesheet',type='text/css',href='lib/bootstrap.css')
    link(rel='stylesheet',type='text/css',href='options.css')
    script(src='lib/jquery.js')
    script(src='lib/underscore.js')
    script(src='lib/backbone.js')
    script(src='common.js')
    script(src='login.js')
  body
    form
      input#url_name(type='url_name',value='taka84u9')
      input#password(type='password')
      input(type='submit')
    span
