!!!5
html
  head
    link(rel='stylesheet',type='text/css',href='popup.css')
    script(src='lib/jquery.js')
    script(src='lib/underscore.js')
    script(src='lib/backbone.js')
    script(src='common.js')
    script(src='popup.js')
    script(src='ga.js')
  body
    div#header
      span.menu
        span.notifications(data-id='notifications')
        span.all_posts(data-id='all posts')
      span.link
        a#qiita(href='https://qiita.com',target='_blank') Qiita
        span &nbsp;
        a#option(href='options.html',target='_blank')
          img(src='images/cog.png')
    div#contents
      div.notifications
        ol.notification-list
          li.loader
            img(src='images/ajax-loader.gif')
      div.all_posts
        ol.chank-list
          li.loader
            img(src='images/ajax-loader.gif')
