!!!5
html
  head
    link(rel='stylesheet',type='text/css',href='popup.css')
    script(src='../lib/jquery-1.7.1.min.js')
    script(src='popup.js')
  body
    div#header
      span.menu
        span.notifications
        span.following
        span.all_posts
      span.link
        span.small goto
        a#qiita(href='http://qiita.com') Qiita
    div#contents
      div.notifications
        ol.notification-list
          li.loader
            img(src='../images/ajax-loader.gif')
      div.following
        ol.chank-list 
          li.loader
            img(src='../images/ajax-loader.gif')
      div.all_posts
        ol.chank-list 
          li.loader
            img(src='../images/ajax-loader.gif')
