!!!5
html
  head
    link(rel='stylesheet',type='text/css',href='popup.css')
    script(src='../lib/jquery-1.7.1.min.js')
    script(src='popup.js')
  body
    div#notification-label
      span Notifications
      span.link
        span.small goto
        a#qiita(href='http://qiita.com') Qiita
    ol#notification-list
